body {
	background-color: purple;
}
h1.hela {
	position: relative;
	color: aqua;
	top: 10px;
	left: 3%;
}
.column {
	float: left;
	width: 15%;
	padding: 0 5px;
	align-items: center;
	position: relative;
	margin-left: 4%;
	top: 60px;
	left: -1%;
}

img.staffav {
	background-size: auto;
	background-position: center;
	border-radius: 100%;
}

.columnp {
	float: left;
	width: 15%;
	padding: 0 5px;
	align-items: center;
	position: relative;
	margin-left: 4%;
	top: 650px;
	left: -60%;
}

h1.pri {
	position: relative;
	color: aqua;
	top: 610px;
	left: -55%;
}

/* Remove extra left and right margins, due to padding */
.row {
	margin: 0 -1px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}
.card {
	box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 2);
	max-width: 650px;
	background-color: #18191c;
	margin: auto;
	text-align: center;
	font-family: arial;
}

.cardp {
	box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 2);
	max-width: 650px;
	margin: auto;
	text-align: center;
	font-family: arial;
}

.card > .hoverable__tooltip {
	display: inline;
	position: absolute;
	top: 1em;
	left: 1em;
	background: #888;
	border: 1px solid black;
}

.titlep {
	color: white;
	font-size: 18px;
}

button {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 20px;
	color: white;
	background-color: #5d1661;
	text-align: center;
	cursor: help;
	width: 100%;
	font-size: 20px;
}

a {
	text-decoration: none;
	font-size: 22px;
	color: white;
}

body {
	color: white;
}

h1 {
	color: white;
}

button:hover,
a:hover {
	opacity: 0.2;
}
